/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');
.gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
  gap: 48px 24px;
  margin-top: 100px;
  justify-content: center;
  align-items: center;
}
.gallery-image-info{
  padding-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.image-info-item{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.gallery-image {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border: 1px solid #808080;
}
.items-text{
  font-weight: bold;
}
.search-form{
  display: flex;
  gap: 10px;
  justify-content: center;
}

input{
width: 300px;
max-height: 40px;
font-family: Roboto, sans-serif;
font-size: 16px;
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.04em;

}
button{
  display: block;
  width: 70px;
  height: 40px;
  font-family: Roboto, sans-serif;
  text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    cursor: pointer;
    background-color: #4D5AE5;
    border-radius: 4px;
    border: none;
}
     /* .loader {
      margin-left: auto;
      margin-right: auto;
       width: 48px;
       height: 48px;
       display: inline-block;
       position: relative;
       border: 3px solid;
       border-color: #de3500 #0000 #fff #0000;
       border-radius: 50%;
       box-sizing: border-box;
       animation: 2s rotate linear infinite;
     }

     .loader:before,
     .loader:after {
       content: '';
       top: 0;
       left: 0;
       position: absolute;
       border: 10px solid transparent;
       border-bottom-color: #fff;
       transform: translate(-10px, 19px) rotate(-35deg);
     }

     .loader:after {
       border-color: #de3500 #0000 #0000 #0000;
       transform: translate(32px, 3px) rotate(-35deg);
     }
   */
     @keyframes rotate {
       100% {
         transform: rotate(360deg)
       }
     }